/* CSS reset */
/* referenced from Josh W Comeau */
* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
}

/* Header */
body {
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper--color {
    background-color: rgb(18, 18, 19);
}

.wrapper--light-color {
    /* background-color: rgb(174, 176, 179); */
    background-image: url(https://images.unsplash.com/photo-1600995616615-52152934de1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-position: bottom;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    flex: 1;
    padding: 1rem 14rem 7rem;
    gap: 4rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75px;
    height: 75px;
    background-image: url(images/sucklet_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.logo:hover {
    background-image: url(images/sucklet_logo_dark.png);
}

.nav {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: rgb(0,0,0,0);
    color: white; 
    transition: .3s ease-out;
}

a:hover {
    text-decoration: underline 2px goldenrod;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

h1 {
    font-size: 64px;
    font-weight: 900;
    color: white;
    line-height: 1;
}

p {
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.hero__right {
    display: flex;
    flex: 1;
    max-width: 500px;
    max-height: 250px;
    border-radius: 1rem;
    overflow: hidden;
}

.hero__right img {
    max-width: 500px;
    object-fit: cover;
    transition: transform .3s ease-out;
    transform: scale(1);
}

.hero__right img:hover {
    transform: scale(1.3);
}

.hero__left {
    flex: 1;
}

.button {
    /* background-color: rgb(18, 18, 19); */
    border: solid white 2px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background: linear-gradient(to left, rgb(18, 18, 19) 50%, goldenrod 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.button:hover {
    background-position: left bottom;
}

/* Card section */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 4rem;
    max-width: 1440px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgb(26, 26, 27);
}

.cards-wrapper{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    max-width: 170px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.card__img {
    display: flex;
    width: 170px;
    height: 170px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card__img img {
    object-fit: cover;
    transition: transform .3s ease-out;
    transform: scale(1);
}

.card__img img:hover {
    transform: scale(1.3);
}

.card__description {
    color: rgb(74, 74, 75);
    margin: 0;
}

/* Quote section */
.quote-wrapper {
    max-width: 1440px;
    padding: 7rem 18rem;
}

.quote__text {
    font-style: italic;
    color: white;
    font-weight: normal;
}

.quote__credit {
    text-align: end;
    color: white;
}

/* CTA section */
.cta-wrapper {
    flex: 1;
    max-width: 1440px;
    padding: 6rem 14rem;
}

.cta {
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1534681479638-1c1e4ad373be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6rem;
    border-radius: 0.5rem;
    gap: 2rem;
}

.cta__left h3 {
    color: white;
}

.cta__left p {
    margin: 0;
}

.button--white-border {
    border: solid white 2px;
}

/* Footer */
.footer {
    padding: 1rem;
}

.footer a {
    font-weight: bold;
}